.steps{
    text-align: center;
    width: 100%;
}
.steps li{
    display: inline-block;
    list-style-type: none;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #F7F7F7;
}

.steps li.active{
    background-color: #FF9A9C;
}


.form-text, .form-error{
    align-items: center;
    margin-top: 10px;
    margin-left: 23px;
    font-size: 13px;
    margin-bottom: 15px;
}

.form-login {
    flex-direction: column;
}

.form-error{
    color:brown;
    font-weight: bold;
}

h3{
    margin-bottom: 15px;
}
form{
    padding-top: 25px;
}

h5,h6{
    margin: 15px 0;
    text-align: center;
    color:#ff9a9c;
}

h5{
    font-size: 18px;
}


h6{
    font-size: 16px;
}

.important-text{
    color:#ff9a9c;
    font-weight: bold;
    font-size: 20px;
}

#animated-thumbnails-gallery{
  display: flex;
  flex-wrap: wrap;
}

#animated-thumbnails-gallery a {
  height: 40vh;
  flex-grow: 1;
    list-style:none
}

#animated-thumbnails-gallery img {
  padding: 2px;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  #animated-thumbnails-gallery {
    flex-direction: row;
  }

  #animated-thumbnails-gallery a {
    height: auto;
    max-width: 33%;
  }

  #animated-thumbnails-gallery img {
    width: 100%;
    height: 15vh;
    min-width: 0;
  }
}